@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 mobil*/
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .header-01 {
    .c-wrapper {
    }
  }
}
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  .header-01 {
    .c-wrapper {
    }
  }
}

/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: #{$mq-md + "px"}) {
  .header-01 {
    .c-wrapper {
      position: fixed;
      z-index: 25;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      min-height: 116px;
      padding: 0 80px;
      background-color: #fff;
      border-bottom: 1px solid #f5f5f5;
      transition: background-color 0.2s;
      .logo {
        margin-right: 48px;
      }
      .a-item {
        display: block;
        position: static;
        flex: 1;
        li:nth-child(3) {
          margin-left: auto;
        }
        .a-item-01 {
          position: static;
          display: flex;
          .a-item-01-A {
            display: flex;
            .a-item-01-B {
              padding: 12px 35px 12px 16px;
              font-size: 0.9375em;
              color: #141414;
              line-height: 16px;
              &:hover{
                background-color: lightgray;
                color: red;
                border: 0.5px solid gray;
                border-radius: 25px;
              }
            }
          }
        }
      }
    }
  }
}
